*{
margin: 0;
padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    font-size: 1rem;
    font-weight: 700;
    overflow: hidden;
    color: #000;
}
a{
 text-decoration: none;
 color: black;
}
li{
    list-style-type: none;
}


.container{
    width: 960px;
    margin: auto;
}




.navber{
    background-color:#fcfcfc;
    padding: 20px 0;
    
}
.navber-wrapper{
    display: flex;
    justify-content: space-between;
}

.nav-logo{
    width: 70px;
    
}
.nav-logo img{
    width: 100%;
    border-radius: 50%;
}
.nav-logo img:hover{
    cursor: pointer;
}
.nav-menu ul{
 display: flex;
 justify-content: space-between;
 text-transform: uppercase;
 
}
.nav-menu ul li{
    padding: 5px 15px;
    border-right: 1px solid rgb(230, 228, 228);
    font-size: 20px;
    color: ff5200;
    
    
}
.nav-menu ul li a{
    color: #ff5200;
    
    
}
.nav-menu ul li:last-child{
    border: none;
    
}
.nav-menu ul li:hover{
    color: white;
    background-color:#ff5200;
    transition-duration: 1s, 5s;
    border: none;
    border-radius: 3px;
    
    
}
.nav-menu ul li:hover a{
    color: white;
}
