* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  font-size: 1rem;
  font-weight: 700;
  /*overflow: hidden;*/
  color: #000;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.container {
  width: 960px;
  margin: auto;
}

.navber {
  background-color: #f8f8f8;
  padding: 20px 0;
}
.navber .navber-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navber .navber-wrapper .nav-logo {
  width: 70px;
}
.navber .navber-wrapper .nav-logo :hover {
  cursor: pointer;
}
.navber .navber-wrapper .nav-logo img {
  width: 100%;
  border-radius: 50%;
}
.navber .navber-wrapper .nav-logo img :hover {
  cursor: pointer;
}
.navber .navber-wrapper .nav-menu ul {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.navber .navber-wrapper .nav-menu ul :last-child {
  border: none;
}
.navber .navber-wrapper .nav-menu ul :hover {
  background-color: #ff5200;
  border-radius: 5px;
}
.navber .navber-wrapper .nav-menu ul li {
  padding: 5px 15px;
  border-right: 1px solid rgb(230, 228, 228);
  font-size: 20px;
  color: ff5200;
}

.banner {
  border: 1px solid;
  margin: auto;
  background-image: url("../images/banner/banner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 100px 0;
}
.banner .banner-info {
  width: 50%;
  margin-left: 20%;
  transition-duration: 3s;
}
.banner .banner-info h2 {
  font-size: 45px;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 30px 0;
}
.banner .banner-info p {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 10px;
  color: rgb(134, 134, 134);
}
.banner .banner-info button {
  background-color: #ff5200;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  margin-right: 30%;
}

.crad-section {
  background-color: #f8f8f8;
  padding: 100px 0;
}
.crad-section .crad-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 20;
}
.crad-section .crad-wrapper .crad-single-box {
  background-color: white;
  padding: 30px 10px;
  border-radius: 5px;
  text-align: center;
  /* box-shadow: #d9d9d9; */
  box-shadow: 5px 5px 5px #888888;
}
.crad-section .crad-wrapper .crad-single-box i {
  border: 1px solid #ff5200;
  padding: 5px;
  font-size: 30px;
  color: #ff5200;
  border-radius: 5px;
  cursor: pointer;
}
.crad-section .crad-wrapper .crad-single-box h3 {
  font-size: 25px;
  font-weight: 900;
  padding: 20px 0;
}
.crad-section .crad-wrapper .crad-single-box p {
  color: rgb(98, 98, 98);
  font-size: 16px;
  margin-bottom: 20px;
}
.crad-section .crad-wrapper .crad-single-box a {
  font-size: 14px;
  color: #ff5200;
  align-items: center;
}
.crad-section .crad-wrapper .crad-single-box a i {
  font-size: 14px;
  color: #ff5200;
  border: none;
  color: black;
}

.product-section {
  background-color: #f8f8f8;
  padding: 50px 0;
}
.product-section .product-info {
  width: 50%;
  padding: 10px;
  text-align: center;
  margin: auto;
}
.product-section .product-info h2 {
  font-size: 35px;
  font-weight: 900;
}
.product-section .product-info hr {
  width: 50px;
  border: 1px solid #ff5200;
  margin: auto;
  border-radius: 5px;
}
.product-section .product-info p {
  color: #888888;
  font-size: 14px;
  padding: 10px 0;
}
.product-section .product-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 30px;
}
.product-section .product-wrapper .product-single-box {
  background-color: white;
  border: 1px solid #888888;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px;
}
.product-section .product-wrapper .product-single-box img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.product-section .product-wrapper .product-single-box h2 {
  font-size: 25px;
  font-weight: 800;
  padding: 10px;
}
.product-section .product-wrapper .product-single-box h6 {
  padding: 10px;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}
.product-section .product-wrapper .product-single-box h6 span {
  color: #ff5200;
}
.product-section .product-wrapper .product-single-box h6 span :first-child {
  color: green;
  margin-right: 10px;
}
.product-section .product-wrapper .product-single-box h6 span :last-child {
  color: #888888;
}
.product-section .product-wrapper .product-single-box h6 span :last-child span {
  color: red;
  margin-left: 10px;
}
.product-section .product-wrapper .product-single-box p {
  padding: 10px;
}
.product-section .product-wrapper .product-single-box button {
  background-color: #ff5200;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  color: white;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
}
.product-section .product-wrapper .product-single-box button :hover {
  background-color: black;
}

@media only screen and (max-width: 780px) {
  body {
    padding: 5px;
  }
  .container {
    width: 775px;
  }
  .navber .navber-wrapper {
    display: inline;
  }
  .navber .navber-wrapper .nav-logo {
    width: 700px;
    text-align: center;
    margin-bottom: 10px;
  }
  .navber .navber-wrapper .nav-logo img {
    width: 170px;
    border-radius: 50%;
  }
  .navber .navber-wrapper .nav-menu ul li {
    text-align: center;
  }
  .crad-section .crad-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 0 60px;
  }
  .crad-section .crad-wrapper .crad-single-box {
    width: 210px;
  }
  .product-section .product-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 40px;
    padding-left: 0px;
  }
  .product-section .product-wrapper .product-single-box {
    width: 270px;
  }
}
@media only screen and (max-width: 450px) {
  body {
    padding: 5px;
  }
  .container {
    width: 445px;
  }
  .navber .navber-wrapper .nav-logo {
    margin-left: -35%;
  }
  .navber .navber-wrapper .nav-menu ul {
    display: inline;
    text-transform: uppercase;
    text-align: center;
  }
  .navber .navber-wrapper .nav-menu ul li {
    padding-top: 20px;
  }
  .crad-section .crad-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    padding: 0 60px;
  }
  .crad-section .crad-wrapper .crad-single-box {
    width: 210px;
  }
  .product-section .product-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 30px 45px;
  }
  .product-section .product-wrapper .product-single-box {
    width: 270px;
  }
}/*# sourceMappingURL=style.css.map */