* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    font-size: 1rem;
    font-weight: 700;
    /*overflow: hidden;*/
    color: #000;

}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}


.container {
    width: 960px;margin: auto;
}




.navber {
    background-color: #f8f8f8;
    padding: 20px 0;

}

.navber-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 70px;

}

.nav-logo img {
    width: 100%;
    border-radius: 50%;
}

.nav-logo img:hover {
    cursor: pointer;
}

.nav-menu ul {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;

}

.nav-menu ul li {
    padding: 5px 15px;
    border-right: 1px solid rgb(230, 228, 228);
    font-size: 20px;
    color: ff5200;


}

.nav-menu ul li a {
    color: #ff5200;


}

.nav-menu ul li:last-child {
    border: none;

}

.nav-menu ul li:hover {
    color: white;
    background-color: #ff5200;
    transition-duration: 1s, 5s;
    border: none;
    border-radius: 3px;


}

.nav-menu ul li:hover a {
    color: white;
}


/*-----------------------------
 banner 
 -----------------------*/

.banner {
    border: 1px solid;
    margin: auto;
    background-image: url("../images/banner/banner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 100px 0;
}

.banner-info {
    width: 50%;
    margin-left: 20%;
    transition-duration: 3s;



}

.banner h2 {
    font-size: 45px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px 0;
}

.banner p {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 10px;
    color: rgb(134, 134, 134);
}

.banner button {
    background-color: #ff5200;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 30%;

}



.crad-section {
    background-color: #f8f8f8;
    padding: 100px 0;
}

.crad-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20;
}

.crad-single-box {
    background-color: white;
    padding: 30px 10px;
    border-radius: 5px;
    text-align: center;
    /* box-shadow: #d9d9d9; */
    box-shadow: 2px 2px 2px #888888
}

.crad-single-box:hover {
    box-shadow: 10px 10px 10px #888888
}

.crad-single-box i {
    border: 1px solid #ff5200;
    padding:5px;
    font-size: 30px;
    color: #ff5200;
    border-radius: 5px;
    cursor: pointer;

}

.crad-single-box h3 {
    font-size: 25px;
    font-weight: 900;
    padding: 20px 0;
}

.crad-single-box p {
    color: rgb(98, 98, 98);
    font-size: 16px;
    margin-bottom: 20px;
}

.crad-single-box a {
    font-size: 14px;
    color: #ff5200;
    align-items: center;
}

.crad-single-box a i {
    font-size: 14px;
    color: #ff5200;
    border: none;
    color: black;
    
}





























@media only screen and (max-width: 780px) {
    body {
        padding: 5px;
    }

    .container {
        width: 775px;
    }

    .navber-wrapper {
        display: inline;
    }

    .nav-logo {
        width: 700px;
        text-align: center;
        margin-bottom: 10px;
    }

    .nav-logo img {
        width: 10%;
        border-radius: 50%;

    }

    .crad-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 20px;
    }
    .crad-single-box {
        width:270px;
    }
}




@media only screen and (max-width: 450px) {
    body {
        padding: 5px;
    }
    .container {
        width: 445px;
    }

    .nav-logo {
        margin-left: -35%;
    }

    .nav-menu ul {

        display: inline;
        text-transform: uppercase;

    }

    .nav-menu ul li {
        padding-top: 20px;
    }

    .crad-wrapper {
       grid: none;
       padding: 20px;
    }
    .crad-single-box {
        width:270px;
    }

}